<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body,
		html {
			width: 100%;
			height: 100%;
			margin: 0;
			font-family: "微软雅黑";
			font-size: 14px;
		}

		#l-map {
			height: 300px;
			width: 100%;
		}

		#r-result {
			width: 100%;
		}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=qWaGXzwPlpRxeI63d3dfCikNXQ1ga3pE"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.cookie.js"></script>
	<title>map</title>
</head>

<body>
	欢迎您: <span id="username"></span>
	<div id="r-result"><input type="text" id="suggestId" size="20" value="百度" style="width:150px;"
			placeholder="请输入位置关键字" /><a href="/index">返回</a></div>
	<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
	<div id="l-map" style="height: 90%;"></div>

</body>

</html>
<script type="text/javascript">

	var currentCenterPoint;
	var username = $.cookie('username');
	$("#username").text(username);

	// 百度地图API功能
	function G(id) {
		return document.getElementById(id);
	}

	var map = new BMap.Map("l-map");
	map.centerAndZoom("上海", 12);                   // 初始化地图,设置城市和地图级别。
	map.enableScrollWheelZoom(); // 启用滚轮放大缩小

	var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
			"input": "suggestId"
			, "location": map
		});

	ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
		var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province + _value.city + _value.district + _value.street + _value.business;
		}
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province + _value.city + _value.district + _value.street + _value.business;
		}
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
		G("searchResultPanel").innerHTML = str;
	});

	var myValue;
	ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件	

		var _value = e.item.value;
		myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
		G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

		setPlace();
	});

	function setPlace() {

		map.clearOverlays();    //清除地图上所有覆盖物

		function myFun() {
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 18);
			//map.addOverlay(new BMap.Marker(pp));    //添加标注

			currentCenterPoint = pp;

			getChemistShop(local);
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
			onSearchComplete: myFun
		});
		local.search(myValue);
	}

	function getChemistShop() {
		//map.reset();

		var options = {
			renderOptions: { map: map, autoViewport: true },

			onSearchComplete: function (results) {
				if (ll.getStatus() == BMAP_STATUS_SUCCESS) {
					// 判断状态是否正确					
					var s = [];
					for (var i = 0; i < results.getCurrentNumPois(); i++) {
						//s.push(results.getPoi(i).title + ", " + results.getPoi(i).address);
						//alert(results.getPoi(i).title + ", " + results.getPoi(i).address);
						collectResult(results.getPoi(i).title + ", " + results.getPoi(i).address);
					}
					// document.getElementById("log").innerHTML = s.join("<br>");
				}
			}
		};

		var ll = new BMap.LocalSearch(map, options);

		ll.searchNearby('药房', currentCenterPoint, 1000);
		//l.searchInBounds("药房", map.getBounds());  
	}

	function collectResult(keywords){
		
		//alert(username);
		$.get("/collectinfo/" + username + '/' + keywords);
	}

</script>